<div #outerContainer class="outerContainer" style="text-align: center;">
    <h1 >Contact me.</h1>
    <div >
        <div style="vertical-align:middle;display: inline-block;">
            <img height="240" width="240" src="./assets/images/contacts.png"/>
        </div>
        <div style="text-align: justify; display: inline-block;padding-left: 20px;font-family:Roboto, 'Helvetica Neue', sans-serif">
            <p>I'll be glad to answer your questions.</p>    
            <p>I'm social.</p>
            <a class="links" target="_blank" rel="noopener" href="https://www.instagram.com/agnessa_che">Instagram</a>
            <a class="links" target="_blank" rel="noopener" href="https://www.facebook.com/Agnessa.bosikom">Facebook</a>
        </div>
    </div>
</div>