<div id="gallery">
    <div class="view w-100">
        <!-- style="width: 382.431px; height: 286.824px; margin-bottom: 0px;" -->
        <img class="d-block w-100" src="assets/photos/fun-art/IMG_20191225_142016.min.jpg" alt="First slide">
        <img class="d-block w-100" src="assets/photos/fun-art/00000IMG_00000_BURST20191226121808605_COVER.min.jpg" alt="second slide" >
        <img class="d-block w-100" src="assets/photos/fun-art/IMG_20191215_130311.min.jpg" alt="therd slide" >

        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
    </div>
    
</div>
  