<div id="container">
    <!--------------- YOUR NAME OVER HERE -------------->
    <h2 class="header">Agenessa Cherednychenko</h2>
    <div>
      <div>
        <div>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Galleries</a></li>
            <li><a href="#">Information</a></li>
            <li><a href="#">Prices</a></li>
            <li><a href="#">say Hello</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div><br/><br/><br/></div>
    <div id="gallery">
    </div>
</div>
  