<app-top-bar></app-top-bar>

<div class="container">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <div class="links">
    <a id="instagram" class="links__icon" target="_blank" rel="noopener" href="https://www.instagram.com/agnessa_che">
      <span class="view-ig">Instagram</span>
    </a>
    <a id="facebook" class="links__icon" target="_blank" rel="noopener" href="https://www.facebook.com/Agnessa.bosikom">
      <span class="view-ig">Facebook</span>
    </a>
  </div>
</div>
<div class="gallery-footer-text">
Jeder Moment ist ein eigener Weg.
Keine Muster, keine Routine.
Ich folge dem Ungewöhnlichen — dort, wo Bilder atmen dürfen
und nichts zweimal gleich erscheint.
</div>