.header {
    margin-top: 68px;
    margin-bottom: 32px;
  
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 3px;
    text-align: center;
}

.top-bar {
    margin-bottom: 24px;
    text-align: center;
}

.mat-button {
    margin-left: 48px;
    margin-right: 48px;
}