<h2 class="header">Agnessa Cherednychenko</h2>

<div class="top-bar">
  <button mat-button [matMenuTriggerFor]="aboveMenu">Above</button>
  <mat-menu #aboveMenu="matMenu" yPosition="above">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="belowMenu">Below</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
  <mat-menu #beforeMenu="matMenu" xPosition="before">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>


  <button mat-button [matMenuTriggerFor]="afterMenu">After</button>
  <mat-menu #afterMenu="matMenu" xPosition="after">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>
</div>

<!-- <top-bar></top-bar> -->
<!-- <gallery></gallery> -->

<div class="container">
  <router-outlet></router-outlet>
</div>

<div class="footer">
  <div class="links">
    <a id="instagram" class="links__icon" href="https://www.instagram.com/agnessa_che">
      <span class="view-ig"> View Agenessa Cherednychenko Instagram </span>
      <i class="fa fa-instagram fa-lg"></i>
    </a>
  </div>
</div>
