<h2 class="header">Agnessa Cherednychenko</h2>

<div class="top-bar">
  <button mat-button [routerLink]="['/gallery/main']">Main</button>
  <button mat-button [routerLink]="['/gallery/business-portraits']">Business</button>
  <button mat-button [matMenuTriggerFor]="belowMenu">Projects</button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button mat-menu-item [routerLink]="['/gallery/life-style']">life style</button>
    <button mat-menu-item [routerLink]="['/gallery/pets']">pets</button>
  </mat-menu>

  <button mat-button [routerLink]="['/contacts.jsp']">Contact</button>
</div>
