.header {
    margin-top: 68px;
    margin-bottom: 32px;
  
    font-family: "Lucida Handwriting";
    font-size: 3vw;
    font-weight: 900;
    /* letter-spacing: 3px; */
    text-align: center;
}

.top-bar {
    margin-bottom: 24px;
    text-align: center;
}

.mat-button {
    font-size: 2.2vw;
    margin-left: 1vmax;
    margin-right: 1vmax;
}

@media (min-width: 800px) {
    .mat-button {
        font-size: 1.3vw;
        margin-left: 1.2vmax;
        margin-right: 1.2vmax;
    }
} 