.header {
    margin-top: 68px;
    margin-bottom: 32px;
  
    font-size: 3vw;
    font-weight: 900;
    letter-spacing: 3px;
    text-align: center;
}

.top-bar {
    margin-bottom: 24px;
    text-align: center;
}

.mat-button {
    font-size: 1.3vw;
    margin-left: 1.2vmax;
    margin-right: 1.2vmax;
}